@import url(/Sass/cssreload.css);
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
body {
  background-color: #fff9f9;
  font-family: "Josefin Sans";
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
main .logo {
  width: 100%;
  align-self: start;
  padding: 30px;
}
main .logo img {
  width: 100px;
}
main .img-desktop {
  display: none;
}
main .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 10px;
}
main .content .title {
  margin: 15px 0;
  font-size: 2.6em;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: hsl(0deg, 6%, 24%);
}
main .content .title .span {
  color: hsl(0deg, 36%, 70%);
  font-weight: 300;
}
main .content .parrafo {
  margin-bottom: 15px;
  line-height: 1.5;
  font-weight: 600;
  font-size: 0.9em;
  color: hsl(0deg, 36%, 70%);
  text-align: center;
}
main form {
  width: 100%;
  position: relative;
}
main form .email {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: 1px solid hsl(0deg, 36%, 70%);
  outline: none;
  background-color: transparent;
  padding: 20px;
  /*background-image: url(/images/icon-error.svg);*/
  background-repeat: no-repeat;
  background-position: 210px 10px;
}
main form ::-moz-placeholder {
  color: hsl(0deg, 36%, 70%);
  font-size: 1em;
}
main form ::placeholder {
  color: hsl(0deg, 36%, 70%);
  font-size: 1em;
}
main form button {
  position: absolute;
  width: 80px;
  height: 52px;
  border-radius: 30px;
  right: 0;
  border: none;
  box-shadow: 1px 10px 20px 1px hsl(0deg, 36%, 70%);
  background: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
}
main form button .button {
  margin: 15px 0;
  width: 12px;
  height: 20px;
}
main form button:hover {
  cursor: pointer;
  background: linear-gradient(135deg, hsl(0deg, 0%, 100%), hsl(0deg, 90%, 80%));
}
main form .txt_error {
  margin-top: 8px;
  margin-left: -227px;
  width: 135px;
  text-align: left;
  left: 0;
  color: hsl(0deg, 36%, 70%);
  font-weight: 400;
  font-size: 0.8em;
}

footer .attribution {
  margin: 30px 0;
  font-size: 13px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (min-width: 387px) {
  main form .email {
    background-position: 255px;
  }
  main form .txt_error {
    margin-left: -240px;
  }
}
@media screen and (min-width: 550px) {
  main .content {
    max-width: 600px;
  }
  main form .txt_error {
    margin-left: -440px;
  }
  main form .email {
    background-position: 380px;
  }
}
@media screen and (min-width: 720px) {
  main .img-mobile {
    display: none;
  }
  main .img-desktop {
    display: flex;
  }
}
@media screen and (min-width: 1000px) {
  main {
    background: url(/images/bg-pattern-desktop.svg);
    display: grid;
    grid-template-columns: 600px 410px;
    grid-template-rows: 80px 80px 200px 200px;
  }
  main .logo {
    margin-left: 60px;
    margin-top: 10px;
    grid-row: 1/2;
    grid-column: 1;
  }
  main .logo img {
    width: 130px;
  }
  main .img-desktop {
    grid-column: 2;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
  }
  main .content {
    margin-top: 10px;
    grid-column: 1;
    grid-row: 2/3;
    margin-left: 70px;
    align-self: start;
  }
  main .content .title {
    text-align: left;
    font-size: 3em;
    margin-right: 110px;
    letter-spacing: 10px;
  }
  main .content .parrafo {
    font-size: 0.9em;
    text-align: left;
    margin-right: 80px;
    margin-bottom: 10px;
  }
  main form {
    width: 80%;
    left: -50px;
  }
  main form .email {
    height: 50px;
    width: 100%;
    background-position: 260px;
  }
  main form button {
    margin-top: 0;
    height: 50px;
    width: 70px;
  }
  main form .txt_error {
    margin-left: -300px;
  }
}
@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: 700px 500px;
    grid-template-rows: 100px 100px 220px 220px;
  }
  main form {
    width: 80%;
    left: -60px;
  }
  main form .email {
    height: 55px;
    background-position: 320px;
  }
  main form button {
    height: 55px;
    width: 75px;
  }
  main form .txt_error {
    margin-left: -340px;
  }
}
@media screen and (min-width: 1340px) {
  main {
    display: grid;
    grid-template-columns: 800px 610px;
    grid-template-rows: 100px 100px 300px 300px;
  }
  main .logo {
    margin-left: 80px;
    margin-top: 40px;
  }
  main .logo img {
    width: 150px;
  }
  main .content {
    margin-top: 100px;
    grid-column: 1;
    grid-row: 2/5;
    margin-left: 70px;
    align-self: start;
  }
  main .content .title {
    text-align: left;
    font-size: 3.5em;
    margin-right: 110px;
    letter-spacing: 10px;
  }
  main .content .parrafo {
    font-size: 1em;
    text-align: left;
    margin-right: 100px;
    margin-bottom: 50px;
  }
  main form .email {
    height: 65px;
    width: 100%;
    background-position: 300px;
  }
  main form button {
    right: 0;
    margin-top: -2px;
    height: 65px;
    width: 90px;
  }
  main form button .button {
    margin-top: 18px 0;
    width: 18px;
    height: 28px;
  }
  main form .txt_error {
    margin-left: -330px;
    margin-top: 22px;
    font-size: 1em;
    width: 200px;
  }
}/*# sourceMappingURL=style.css.map */